{% extends 'base.html' %}
{%block title%}
{% for i in items %}
    {{i.name}}
{% endfor%}
{%endblock%}

{%block body%}
    <h1>Category</h1>
    <div class="cont">
            {% for i in items %}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{i.image.url}}">
                <div class="card-body">
                <p class="card-text"><a href="{% url 'detail' i.id%}">{{i.name}}</a></p>
                </div>
            </div>
        {% endfor%}
    </div>
    
{%endblock%}