{% extends 'base.html' %}
{%block title%}
Contact Us
{%endblock%}

{%block body%}


    
    <div class="cont" id="cont">

    <div class="row">
            {%for i in category%}
            <div class="col-sm-3">
              <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="{{i.picture.url}}" width="200px" height="200px">
                    <h5 class="card-title"><a href="{% url 'catdetail' i.id%}">{{i.name}}</a></h5>
                </div>
              </div>
            </div>
            {%endfor%}
    </div>
</div>

    


{%endblock%}