{% extends 'base.html' %}
{%block title%}
    Contact Us
{%endblock%}

{%block body%}
<div class="cont">

  <div class="contact">
    <h1>Contact Us </h1>
      <p>If you are interested in purchasing of the antiques listed on <a href="#">antiques.com</a>  please Contact the antique dealer directly.</p>  <br>
      <p>However if you are an antique dealer looking for more information:</p><br> <br>
      <p><b>Phone Number: </b>00966551245966</p>
      <p><b>email: </b><a href = "mailto: lamya.altuwairqi@gmail.com">lamya.altuwairqi@gmail.com</a></p>
  </div>
    
</div>
  
  {%endblock%}