{% extends 'base.html' %}
{%block title%}
    Detail
{%endblock%}

{%block body%}
<div class="cont" id="detail">
        <h1>Item Detail</h1>
        <img src="{{item.image.url}}" width="300px" height="300px">
        <p class="first"><b>Name:</b>  {{item.name}}</p>
        <p><b>Category:</b>  {{item.category}}</p>
        <p><b>Details:</b>  {{item.details}}</p>
        <p><b>E-mail:</b>  {{item.email}}</p>
        <p><b>Phone:</b>  {{item.phone}}</p>
        {% if owner %}
             <a href="{% url 'delete_item' item.pk %}"><b>Delete Item</b> </a>
             <a href="{% url 'updateitem' item.pk %}"><b>Update Item</b> </a>
        {% endif %}
        
</div>
    
{%endblock%}