{% extends 'base.html' %}
{%block title%}
    Detail
{%endblock%}

{%block body%}
    <h1>Item Detail</h1>
    <img src="{{item.image.url}}" width="300px" height="300px">
    <p>Name: {{item.name}}</p>
    <p>Category: {{item.category}}</p>
    <p>Details: {{item.details}}</p>
    <p>E-mail: {{item.email}}</p>
    <p>Phone: {{item.phone}}</p>
    {% if owner %}
         <a href="{% url 'delete_item' item.pk %}">Delete Item</a>
         <a href="{% url 'updateitem' item.pk %}"> Update Item</a>
    {% endif %}
    
{%endblock%}